$font-family: 'Montserrat', sans-serif;
$font-color-blue: #1D3564;
$font-color-grey: #252E39;
$background: #EAEFF9;

%font-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    color: $font-color-grey;
}

%font-text {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: $font-color-grey;
}

%font-text-values {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: $font-color-grey;
}

.category-container {

    &__navigation {
        display: flex;
        align-items: center;
        gap: 20px;
        max-width: 1440px;
        margin: 0 auto;
        padding: 40px 20px;
        @extend %font-text;

        &__main {
            @extend %font-text;
            text-decoration: none;
        }

        &__arrow {
            width: 2.2rem;
            height: 2rem;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__filter {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 400px;
        padding: 20px;
        background: $background;
        border-radius: 5px;

        &__filter-item {
            display: flex;
            flex-direction: column;
            gap: 7px;

            &__title {
                position: relative;
                @extend %font-text;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 1.5px;
                    background: $font-color-blue;
                }
            }

            &__inputs {
                display: flex;
                align-items: center;
                gap: 5px;

                &__dash {
                    @extend %font-text-values;
                }

                &__minPrice,
                &__maxPrice {
                    width: 100px;
                    @extend %font-text-values;
                }
            }
        }

        &__clear {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px;
            @extend %font-text;
            color: #EAEFF9;
            background: #1D3564; 
            border-radius: 5px;
            cursor: pointer;
        }
    }

    &__panel {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        &__title-cont {
            display: flex;
            align-items: center;
            gap: 20px;
        
            &__title {
                width: 20%;
                @extend %font-title;
            }
        
            &__line {
                width: 100%;
                height: 0.5rem;
                background: $font-color-blue;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        &__sorting {
            display: flex;
            gap: 10px;
            @extend %font-text;

            &-increase,
            &-decrease {
                font-weight: 400;
                cursor: pointer;

                &.active {
                    text-decoration: underline;
                }
            }
        }

        &__cards {
            display: flex;
            gap: 40px 5%;
            flex-wrap: wrap;

            &__card {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 10px 10px 20px;
                width: 30%;
                background: $background;
                border-radius: 5px;
                text-decoration: none;

                &__img {
                    width: 100%;
                    height: 295px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 5px;
                }

                &__name {
                    @extend %font-text;
                    text-align: center;
                }

                &__description {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    @extend %font-text-values;
                    text-decoration: none;
                }

                &__price {
                    @extend %font-text;
                    text-align: center;
                }
            }
        }
    }
}