$font-family: 'Montserrat', sans-serif;
$font-color-blue: #1D3564;
$font-color-grey: #252E39;
$font-color-orange: #DFA974;
$background: #EAEFF9;

%font-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4rem;
    color: $font-color-grey;
}

%font-text {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: $font-color-grey;
}

%font-text-values {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: $font-color-grey;
}

.card-container {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 1440px;
        margin: 0 auto;
        padding: 40px 20px;
    }

    &__navigation {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;

        &__main,
        &__pre-category,
        &__current-category,
        &__current-card {
            @extend %font-text;
            font-size: 1.5rem;
            text-decoration: none;
            transition: 0.3s;
        }

        &__main:hover,
        &__pre-category:hover,
        &__current-category:hover {
            color: $font-color-orange;
        }

        &__current-card {
            text-decoration: underline;
        }

        &__arrow {
            width: 1.6rem;
            height: 1.6rem;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        &__title {
            @extend %font-title;
        }

        &__start-block {
            display: flex;
            gap: 5%;
            
            &__photo-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                width: 47.5%;

                &__photo {
                    width: 100%;
                    height: 500px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &__photos {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;

                    &__element {
                        width: 60px;
                        height: 60px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        cursor: pointer;

                        &:hover {
                            border: 1px solid $background;
                        }

                        &.active {
                            border: 2px solid $font-color-grey;
                        }
                    }
                }
            }

            &__start-des {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px 0;
                width: 47.5%;
                @extend %font-text;
                border-top: solid 3px $font-color-blue;

                &__price {
                    padding-bottom: 30px;
                    font-size: 2.8rem;
                    font-weight: 700;
                }

                &__detailed {
                    margin-bottom: 30px;
                    font-style: italic;
                    font-size: 2.2rem;
                    color: $font-color-blue;
                    text-decoration: underline;
                    transition: 0.3s;

                    &:hover {
                        color: $font-color-orange;
                    }
                }

                &__delivery-box {
                    padding: 20px;
                    line-height: 3.2rem;
                    font-size: 1.6rem;
                    background: $background;
                    border-radius: 5px;
                }
            }
        }

        &__about {
            display: flex;
            gap: 5%;
            padding-top: 20px;

            &__additional {
                padding: 20px;
                width: 45%;
                @extend %font-text;
                line-height: 3.2rem;
                font-size: 1.6rem;
                background: $background;
                border-radius: 5px;
            }

            &__characteristics {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 45%;
    
                &__block {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
    
                    &__parameter {
                        @extend %font-text;
                    }
    
                    &__spaces {
                        flex-grow: 1;
                        border: 1px dashed $font-color-grey;
                    }
    
                    &__value-block {
                        display: flex;
                        gap: 20px;
    
                        &__value {
                            @extend %font-text;
                        }
                    }
                }
            }
        }

        &__same {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__same-title {
                display: flex;
                align-items: center;
                gap: 10px;
                @extend %font-title;
    
                &:after {
                    display: block;
                    content: '';
                    flex-grow: 1;
                    height: 4px;
                    border-bottom: 4px solid $font-color-blue;
                }
            }
    
            &__cards {
                display: flex;
                flex-wrap: wrap;
                gap: 20px 2%;
    
                &__card {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 20px;
                    width: 23.5%;
                    background: $background;
                    border-radius: 5px;
                    text-decoration: none;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
                    transition: 0.3s;
    
                    &:hover {
                        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
                    }
    
                    &__img {
                        width: 100%;
                        height: 260px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        border-radius: 5px;
                        transition: 0.3s;
                    }
    
                    &__name {
                        @extend %font-text;
                        text-align: center;
                    }
    
                    &__description {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        @extend %font-text-values;
                        text-decoration: none;
                    }
    
                    &__price {
                        @extend %font-text;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media(max-width: 1150px) {
    .card-container__content__same__cards__card {
        width: 32%;
    }
}

@media(max-width: 900px) {
    .card-container__content__start-block {
        flex-direction: column;
        gap: 40px;

        &__photo-block {
            width: 100%;
        }

        &__start-des {
            align-items: center;
            width: 100%;
        }
    }

    .card-container__content__about {
        flex-direction: column;
        gap: 40px;

        &__additional {
            width: 100%;
        }

        &__characteristics {
            width: 100%;
        }
    }
}

@media(max-width: 850px) {
    .card-container__content__same__cards {
        gap: 20px 4%;

        &__card {
            width: 48%;
        }
    }
}

@media(max-width: 550px) {
    .card-container__content__same__cards__card {
        width: 100%;
    }
}