$font-family: 'Montserrat', sans-serif;
$font-color: #EAEFF9;

%font-style {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 6rem;
    line-height: 8rem;
    letter-spacing: 0.025em;
    color: $font-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.start-block {
    width: 100%;
    background-size: cover;
    background-position: center;

    &__container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 1440px;
        margin: 10px auto 0;
        padding: 500px 20px 40px;

        &__text {
            max-width: 620px;
            @extend %font-style;
        }
    }
}

@media(max-width: 750px) {
    .start-block__container {
        padding: 380px 20px 40px;

        &__text {
            max-width: 100%;
            font-size: 4rem;
            line-height: 5.5rem;
        }
    }
}

@media(max-width: 480px) {
    .start-block__container {
        padding: 250px 20px 40px;

        &__text {
            font-size: 2.5rem;
            line-height: 3.7rem;
        }
    }
}