$font-family: 'Montserrat', sans-serif;
$font-color-blue: #1D3564;
$font-color-grey: #252E39;

%font-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: $font-color-grey;
}

.popular-goods {
    
    &__container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 0 20px;
        @extend %font-title;

        &:after {
            display: block;
            content: '';
            flex-grow: 1;
            height: 4px;
            border-bottom: 4px solid $font-color-blue;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 2%;
    }
}

@media(max-width: 450px) {
    .popular-goods__title {
        flex-direction: column;
        text-align: center;

        &:after {
            width: 100%;
        }
    }
}