$font-family: 'Montserrat', sans-serif;
$font-color-blue: #1D3564;
$font-color-grey: #252E39;
$font-color-orange: #DFA974;
$background: #EAEFF9;

%font-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: $font-color-grey;
}

%font-text {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.3rem;
    color: $font-color-grey;
}

%font-text-values {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: $font-color-grey;
}

.filters-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 25%;
    padding: 20px;
    background: $background;
    border-radius: 5px;

    &__filter-item {
        display: flex;
        flex-direction: column;
        gap: 7px;
    
        &__title {
            position: relative;
            @extend %font-text;
    
            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 1.5px;
                background: $font-color-blue;
            }
        }
    
        &__inputs {
            display: flex;
            align-items: center;
            gap: 5px;
    
            &__dash {
                @extend %font-text-values;
            }
    
            &__minPrice,
            &__maxPrice {
                width: 40%;
                padding: 2px 0 2px 5px;
                @extend %font-text-values;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
                border: none;
                border-radius: 5px;
            }
        }
    }
    
    &__clear {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        @extend %font-text;
        text-align: center;
        color: #EAEFF9;
        background: #1D3564; 
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
        transition: 0.3s;
    
        &:hover {
            box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        }
    
        &:active {
            transform: translate(3px, 3px);
        }
    }

}

