$font-family: 'Montserrat', sans-serif;
$font-color-blue: #1D3564;
$font-color-grey: #252E39;
$font-color-orange: #DFA974;
$background: #EAEFF9;

%font-text {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.3rem;
    color: $font-color-grey;
}

%container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 20px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 15px;
}

.dark {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -100vh;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    z-index: 1;

    &.active {
        top: 0;
        cursor: pointer;
        z-index: 1;

        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
}

.header {
    
    &__info-panel {

        &__container {
            @extend %container;
        }

        &__logo-cont {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            width: 165px;

            &__logo-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                width: 162px;

                &__logo {
                    width: 28%;
                }

                &__brand-name {
                    @extend %font-text;
                    font-size: 2.2rem;
                    line-height: 3.2rem;
                    color: $font-color-blue;
                    transition: 0.3s;
                }

                &:hover {
                    .header__info-panel__logo-cont__logo-block__brand-name {
                        color: $font-color-orange;
                    }
                }
            }

            &__title {
                @extend %font-text;
            }
        }

        &__contacts {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 7px;

            &__block {
                display: flex;
                align-items: center;
                gap: 10px;
                text-decoration: none;

                &:hover {
                    .header__info-panel__contacts__block-text {
                        color: $font-color-orange;
                    }
                }

                &-svg {
                    width: 3rem;
                    height: 3rem;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                
                &-text {
                    @extend %font-text;
                    font-weight: 500;
                    transition: 0.3s;
                }
            }
        }
    }

    &__nav-panel {
        background: $font-color-blue;

        &__container {
            @extend %container;
            padding: 13px 20px;
        }

        &__button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 0 12px;
            min-width: 150px;
            height: 40px;
            background: $background;
            border-radius: 5px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
            cursor: pointer;
            transition: 0.3s;
            z-index: 2;

            &:hover {
                box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);

                .header__nav-panel__button__burger-cont__span {
                    left: 0;
                }
            }

            &__categories {
                display: none;
                position: absolute;
                width: 85vw;
                max-width: 1400px;
                min-width: 1140px;
                padding: 10px;
                left: 0;
                top: 45px;
                background: $background;
                border-radius: 5px;
                cursor: default;

                &.active {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px 4%;
                    z-index: 2;
                }

                &__elements-block {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    width: 22%;

                    &__element {
                        padding: 2px 5px;
                        @extend %font-text;
                        font-weight: 400;
                        font-size: 1.3rem;
                        cursor: pointer;
                        text-decoration: none;
                        border-radius: 5px;
    
                        &:hover {
                            color: $background;
                            background: $font-color-blue;
                        }
                    }
                }
            }

            &__text {
                @extend %font-text;
            }

            &__burger-cont {
                position: relative;
                width: 35px;
                height: 20px;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background: $font-color-grey;
                }

                &::before {
                    top: 0;
                }

                &::after {
                    bottom: 0;
                }

                &__span {
                    position: absolute;
                    top: 9px;
                    right: 0;
                    left: 13px;
                    height: 2px;
                    background: $font-color-grey;
                    transition: 0.3s;
                }
            }
        }

        &__nav {
            display: flex;
            justify-content: space-between;
            gap: 40px;

            &__element {
                @extend %font-text;
                font-weight: 400;
                color: $background;
                text-decoration: none;
                transition: 0.5s;

                &:hover {
                    color: $font-color-orange;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .header__nav-panel__button__categories {
        width: 93vw;
        min-width: 0;

        &.active {
            gap: 20px 5%;
        }

        &__elements-block {
            width: 30%;
        }
    }
}

@media(max-width: 850px) {
    .header__nav-panel__button__categories {
        width: 91vw;

        &__elements-block {
            width: 45%;
        }
    }
}

@media(max-width: 590px) {
    .header__nav-panel__button__categories {
        width: 260px;

        &__elements-block {
            width: 100%;
        }
    }
}

@media(max-width: 680px) {
    .header__nav-panel__nav {
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;
    }
}

@media(max-width: 380px) {
    .header__nav-panel__nav {
        align-items: flex-start;
    }
}