$font-family: 'Montserrat', sans-serif;
$font-color-blue: #1D3564;
$font-color-grey: #252E39;
$font-color-orange: #DFA974;
$background: #EAEFF9;

%font-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 3.7rem;
    color: $font-color-blue;
}

%font-text {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: $font-color-grey;
}

.header {
    
    &__info-panel {

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px 20px;
            max-width: 1440px;
            margin: 0 auto;
            padding: 20px 15px;
        }

        &__logo-cont {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__logo {
                width: 150px;
                height: 50px;
                background-size: contain;
            }

            &__title {
                @extend %font-text;
            }
        }

        &__contacts {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 7px;

            &__block {
                display: flex;
                align-items: center;
                gap: 10px;
                text-decoration: none;

                &:hover {
                    .header__info-panel__contacts__block-text {
                        color: $font-color-orange;
                    }
                }

                &-svg {
                    width: 3rem;
                    height: 3rem;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: 0.3s;
                }
                
                &-text {
                    @extend %font-text;
                    font-weight: 500;
                    font-size: 1.6rem;
                    transition: 0.3s;
                }
            }
        }
    }

    &__nav-panel {
        background: $font-color-blue;

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            max-width: 1440px;
            margin: 0 auto;
            padding: 13px 20px;
        }

        &__button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 0 12px;
            width: 160px;
            height: 40px;
            background: $background;
            border-radius: 5px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);

                .header__nav-panel__button__burger-cont__span {
                    left: 0;
                }
            }

            &__categories {
                display: none;
                position: absolute;
                padding: 10px;
                width: 300px;
                left: 0;
                top: 45px;
                background: $background;
                border-radius: 5px;
                cursor: default;

                &.active {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    z-index: 1;
                }

                &__element {
                    padding: 2px 5px;
                    @extend %font-text;
                    font-weight: 400;
                    font-size: 1.5rem;
                    cursor: pointer;
                    text-decoration: none;
                    border-radius: 5px;

                    &:hover {
                        color: $background;
                        background: $font-color-blue;
                    }
                }
            }

            &__text {
                @extend %font-text;
            }

            &__burger-cont {
                position: relative;
                width: 35px;
                height: 20px;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background: $font-color-grey;
                }

                &::before {
                    top: 0;
                }

                &::after {
                    bottom: 0;
                }

                &__span {
                    position: absolute;
                    top: 9px;
                    right: 0;
                    left: 13px;
                    height: 2px;
                    background: $font-color-grey;
                    transition: 0.3s;
                }
            }
        }

        &__nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 315px;

            &__element {
                @extend %font-text;
                font-weight: 400;
                color: $background;
                text-decoration: none;
                transition: 0.5s;

                &:hover {
                    color: $font-color-orange;
                }
            }
        }
    }
}

@media(max-width: 570px) {
    .header__nav-panel__nav__element {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .header__nav-panel__nav {
        max-width: 250px;
    }
}

@media(max-width: 475px) {
    .header__nav-panel__container {
        flex-direction: column;
        align-items: flex-start;
    }
}