$font-family: 'Montserrat', sans-serif;
$font-color-grey: #252E39;
$font-color-white: #EAEFF9;
$background: #1D3564;

%font-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4rem;
    color: $font-color-grey;
}

%font-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: $font-color-white;
}

.categories-block {
    margin-top: 40px;

    &__container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 0 20px;
        @extend %font-title;

        &:after {
            display: block;
            content: '';
            flex-grow: 1;
            height: 4px;
            border-bottom: 4px solid $background;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 20px;

        &__card {
            width: 280px;
            height: 170px;
            background-size: cover;
            background-position: center;
            border-radius: 5px;
            text-decoration: none;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
            transition: 0.3s;

            &:hover {
                box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
            }

            &__title {
                @extend %font-text;
                padding: 20px 20px;
            }
        }
    }
}