$font-family: 'Montserrat', sans-serif;
$font-color-grey: #252E39;

%font-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: $font-color-grey;
}

%font-text {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 3rem;
    color: $font-color-grey;
}

.melana-container {
    
    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 1440px;
        margin: 0 auto;
        padding: 40px 20px;
    }

    &__logo-cont {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

        &__title {
            @extend %font-title;
        }
    }

    &__inform-block {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__text {
            @extend %font-text;
        }
    }
}